.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logout {
  padding: 6px;
  border: none;
  background-color: #c03b0b;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  font: inherit;
}
